{% load static %}

<!DOCTYPE html>

<html lang="en">

	<head>
		<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
	</head>

	<body>

		<div id="video_back" class="fullscreen-bg hide_this"> 
			<video autoplay muted poster="{% static 'images/calc_background2.jpg' %}" class="fullscreen-bg__video" id="myVideo"> <!--autoplay-->
				<source src="{% static 'videos/calc_background_vid109B.mp4' %}" type="video/mp4">
			</video>
		</div>  

		<div class="container-fluid">
			<br>
			<div class="row d-flex justify-content-end">
				<div class="col-5 justify-content-left">
						<img src="{% static 'polls/images/logo_battlecalc.png' %}" class="img-fluid">
						<div class="text-box"></div>
						<div class="bottomleft">
								<strong>Cartography by Dyson Logos<br></strong> 
								<a href="https://dysonlogos.blog/" style="color:rgb(99, 17, 3)">https://dysonlogos.blog/</a><br>
								<strong>Created by Tobias Wettstein<br></strong> 
								<a href="https://github.com/tobiaswettstein/NPC_calculator" style="color:rgb(99, 1, 3)">https://github.com/tobiaswettstein/NPC_calculator</a>
						</div>
				</div>
				<div class="col-3">
					<div class="box-style">
							<h4 class="form-signin" style="color:black;"> Enter NPC Parties: </h4>
							<form class="form-signin" method="post" action="/app/epic_battle/" id="post-form">
								{% csrf_token %}
					
								<input name="d" class="form-control" type="number" min="1" step="1" max="10000" placeholder="Enter number of Heros" value="" required autofocus>
								
								<input type="radio" class="radio-item form-radio" name="hero" value="Dwarf" checked> <b>Dwarf</b><br>
								<input type="radio" class="radio-item form-radio" name="hero" value="Elf"> <b>Elf</b><br>
								<input type="radio" class="radio-item form-radio" name="hero" value="Human"> <b>Human</b><br>
								<br>
			
								<input name="g" class="form-control" type="number" min="1" step="1" max="10000" placeholder="Enter number of Villains" value="" required autofocus>
								<input type="radio" class="radio-item form-radio" name="villain" value="Goblin" checked> <b>Goblin</b><br>
								<input type="radio" class="radio-item form-radio" name="villain" value="Orc"> <b>Orc</b><br>
								<br>
			
								<h4 class="form-signin" style="color:black;"> Select battle ground: </h4>
			
								<input type="radio" class="radio-item form-radio" name="terrain" value="Mountain" checked> <b>Mountain</b><br>
								<input type="radio" class="radio-item form-radio" name="terrain" value="Dungeon"> <b>Dungeon</b><br>
								<input type="radio" class="radio-item form-radio" name="terrain" value="Fortress"> <b>Fortress</b><br>
								<input type="radio" class="radio-item form-radio" name="terrain" value="Swamp"> <b>Swamp</b><br>
								<input type="radio" class="radio-item form-radio" name="terrain" value="Forest"> <b>Forest</b><br>
								<br>            
								<br>
								<button name="start_button" id="myBtn" class="btn btn-lg btn-warning btn-block" type="submit" onclick="">Start battle!!</button> 
								<br>
							</form>
					</div>
				</div>
				<div class="col-4">
					<div class="box-style2">
							<ul class="list-group mb-1">
									<left><h4 class="form-signin" style="color: black" >Battle Result: </h4></left>
								
								{% for e in fb %}
								<li class="list-group-item list-group-item mb-4 box-style3">
										{{ e }}</li>
								{% endfor %}

							</ul>
					</div>
				</div>
			</div>
		</div>
	


		<script>
			if (sessionStorage.clickcount) {
				sessionStorage.clickcount = Number(sessionStorage.clickcount)+1;
			}
			else {
				sessionStorage.clickcount = 1;
			}
			
			if (sessionStorage.clickcount > 1) {
				document.getElementById("video_back").classList.remove('hide_this');
			}</script>

		<!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" 
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" 
		crossorigin="anonymous"></script> -->

		<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" 
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" 
		crossorigin="anonymous"></script> -->

		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" 
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" 
		crossorigin="anonymous"></script>
	</body>

</html>

